<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using Spotify</title>
    <link rel="stylesheet" href="/css/main"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="about_spotify">
            <h2>How we use Spotify</h2>
            <p>By logging in to Spotify, you allow us to view your playlists, and basic information.<br>Additionally, we can store statistics to your Spotify account without requiring you to create an account here.</p>
        </div>
    </div>
</body>
</html>