<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Multiplayer</title>
    <link rel="stylesheet" href="/css/main"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <h1>Lyrics Quiz - Multiplayer</h1>
        <h2>Create Server</h2>

        <form class="new_server_form">
            <span class="item"><label for="server_name">Server Name</label><br><textarea id="server_name" class="server_name" placeholder="Name..." maxlength="75" required></textarea></span>
            <span class="item"><label for="server_description">Server Description</label><br><textarea id="server_description" class="server_description" placeholder="Description..." maxlength="120" required></textarea></span>
            <span class="item"><label for="max_players">Max Players</label><br><input id="max_players" class="max_players" type="number" min="2" max="8" value="2" required/></span>
            <span class="item"><label for="question_length">Question Time</label>
                <br>
                Selected time: <span class="question_length_selected_preview">60s</span>
                <br>
                <input id="question_length" class="question_length" type="range" min="3" max="90" value="60" required/></span>
            <p>
                <label>Spotify Playlist</label>
                <a class="chooseSpotifyBtn">Choose</a>
                <span class="chosenSpotifyPlaylistName"></span>
            </p>

            <br>

            <span><input class="text_hint_link create_server_btn" type="submit" value="Create"></span>
        </form>
        
        <p>
            <a class="text_hint_link" href="/play/multiplayer">Cancel</a>
        </p>
    </div>
</body>
<script src="/js/errorBox"></script>
<script src="/js/pages/play/createServer"></script>
</html>