<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by Lyrics</title>
    <link rel="stylesheet" href="/css/main"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <h1>Find Song by Lyrics</h1>
        <form>
            <textarea class="lyrics_input" placeholder="Enter Lyrics..."></textarea>
            <a class="submit_lyrics"></a>

            <a class="use_voice"><i class="fa fa-microphone"></i></a>

            <a class="search_button">Search</a>
        </form>
    </div>
</body>
<script src="/js/errorBox"></script>
<script src="/js/pages/lyrics"></script>
</html>