body {
    background-color: rgb(25,25,25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: block;
    margin: auto;
    position: absolute;
    top:0;right:0;left:0;bottom:0;
    width: fit-content;
    height: fit-content;
    min-width: 700px;
    background-color: rgb(15,15,15);
    border-radius: 15px;
    overflow: hidden;
}
.main.relative {
    position: relative;
    margin-top: 25px;
}
.main h1, .main h2 {
    margin-left: 25px;
}
@media screen and (max-width: 700px) {
    .main {
        min-width: 250px;
    }
}

.main .menu_button {
    display: block;
    margin: auto;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgba(42, 155, 42, 0.6);
    border: 3px solid green;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.3s ease-in-out background-color, 0.3s ease-in-out border;
}
.main .menu_button:hover {
    background-color: rgba(55, 216, 55, 0.6);
    border: 3px solid lime;
    cursor: pointer;
}

a.use_voice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s ease-in-out background-color;
    margin-top: 15px;
    margin-bottom: 15px;
}
a.use_voice:hover {
    background-color: rgb(255,120,0);
    cursor: pointer;
}

.lyrics_input {
    display: block;
    margin: auto;
    background: none;
    color: white;
    width: 90%;
    height: 150px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    outline: none;
    background-color: rgb(22, 79, 184, 0.5);
    border: none;
    padding: 8px;
}

.search_button {
    display: block;
    margin: auto;
    width: 100%;
    padding: 5px 0;
    background-color: rgb(29, 111, 165);
    text-align: center;
}
.search_button:hover {
    cursor: pointer;
}

.results_box {
    display: none;
}
.results_box.visible {
    display: block;
}
.results_box .lyrics_results {
    display: block;
    margin: auto;
    width: 90%;
    margin-bottom: 15px;
}

.errorBox {
    display: block;
    margin: auto;
    position: absolute;
    top:0;right:0;left:0;bottom:0;
    height: fit-content;
    width: fit-content;
    background-color: rgba(200,0,0,0.6);
    border: 4px solid red;
    border-radius: 15px;
    padding: 4px 16px;
    min-height: 150px;
}
.errorBox .dismiss_btn {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.errorBox .dismiss_btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
.errorBox .specific_error {
    color: grey;
}

.login_prompt {
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 15px;
}
.login_prompt .spotify_login_btn {
    display: block;
    margin: auto;
    background-color: rgba(0,128,0, 0.5);
    border: 2px solid green;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 16px;
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out background-color, 0.3s ease-in-out border;
}
.login_prompt .spotify_login_btn:hover {
    background-color: rgba(0,200,0, 0.5);
    border: 2px solid rgb(0, 180, 0);
    cursor: pointer;
}

.multiplayer_servers {
    display: block;
    margin: auto;
    width: 90%;
}
.multiplayer_servers .server {
    display: block;
    margin: auto;
    background-color: rgba(22, 101, 155, 0.5);
    border-left: 4px solid rgb(22,101,155);
    padding: 1px 8px;
    margin-bottom: 5px;
    /* transition: 0.3s ease-in-out border, 0.3s ease-in-out background-color; */
}
.multiplayer_servers .server:hover {
    background-color: rgba(25, 141, 218, 0.5);
    border-left: 4px solid rgb(25, 141, 218);
    cursor: pointer;
}
.viewServerInfo .server_info {
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
    background-color: rgba(22, 101, 155, 0.5);
    border-left: 4px solid rgb(22,101,155);
    padding: 1px 8px;
    margin-bottom: 15px;
}
a.join_server, a.goto_server {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    right:0;top:0;bottom:0;
    width: fit-content;
    padding: 2px 8px;
    background-color: rgba(0,180,0, 0.5);
    width: 20%;
    text-decoration: none;
    color: white;
}
a.join_server:hover {
    background-color: rgba(0,140,0, 0.5);
    cursor: pointer;
}
a.goto_server {
    background-color: rgba(0,0,180, 0.5);
}
a.goto_server:hover {
    background-color: rgba(0,0,140, 0.5);
    cursor: pointer;
}

.text_hint_link {
    display: block;
    margin: auto;
    width: fit-content;
    color: rgb(38, 155, 201);
    text-decoration: none;
}
.text_hint_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.new_server_form {
    display: block;
    position: relative;
    margin: auto;
    width: 90%;
    padding: 8px 12px;
    background-color: rgb(24,24,24);
    border-radius: 15px;
    overflow: hidden;
}
.new_server_form .item {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.new_server_form input {
    background: none;
    color: white;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.3);
    padding: 4px 12px;
    font-size: 14px;
}
.new_server_form textarea {
    background: none;
    color: white;
    border: none;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    background-color: rgba(0,0,0,0.3);
    padding: 4px 12px;
    font-size: 14px;
}
.new_server_form label {
    display: block;
    font-size: 18px;
    width: fit-content;
    border-bottom: 2px solid white;
}
.new_server_form .create_server_btn {
    /* color: rgb(0,160,0); */
    display: block;
    margin: auto;
    position: absolute;
    left:0;right:0;bottom:0;
    width: 100%;
    background-color: rgb(0,160,0);
    padding: 4px 0;
    color: white;
    text-align: center;
}

.quiz_page {
    display: grid;
    grid-template-areas: 
        'title title title title title title'
        'leaderboard main main main main players'
        'leaderboard main main main main players';
    grid-template-rows: 0.2fr auto auto;
    gap: 15px;
    padding: 15px;
    /* background-color: rgba(255,0,0,0.1); */
    background-color: black;
    border-radius: 15px;
    position: absolute;
    margin: auto;
    top:0;bottom:0;left:0;right:0;
    width: 90%;
    height: 90%;
}

.quiz_page .quiz {
    display: block;
    position: relative;
    grid-area: main;
    background-color: rgb(15,15,15);
}

.quiz_page .leaderboard {
    grid-area: leaderboard;
    background-color: rgb(15,15,15);
}

.quiz_page .title {
    grid-area: title;
    background-color: rgb(15,15,15);
}

.quiz_page .player_list {
    grid-area: players;
    background-color: rgb(15,15,15);
}
.quiz_page .player_list .players, .quiz_page .leaderboard .positions {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}
.quiz_page .player_list .players .player, .quiz_page .leaderboard .positions .player {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    padding: 8px 0;
}
.quiz_page .player_list .players .player .selfIndicator {
    display: block;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    left:10px;
    height: fit-content;
    font-size: 18px;
}
.quiz_page .player_list .players .player .ownerIndicator {
    display: block;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    right:10px;
    height: fit-content;
    font-size: 18px;
}

.quiz_page .leaderboard .positions .player .score {
    display: block;
    margin: auto;
    position: absolute;
    top:0;bottom:0;
    right: 15px;
    height: fit-content;
}

.quiz_page div .title {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 12px 0;
}

.chooseSpotifyBtn {
    display: inline-block;
    margin: auto;
    padding: 2px 8px;
    background-color: rgb(0,160,0);
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.chooseSpotifyBtn:hover {
    background-color: rgb(0,120,0);
    cursor: pointer;
}

.spotifyPrompt {
    display: block;
    margin: auto;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    width: fit-content;
    height: fit-content;
    min-height: 150px;
    background-color: rgb(16, 16, 26);
    color: white;
    padding: 4px 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}
.spotifyPrompt .select_playlist {
    display: block;
    margin: auto;
    position: absolute;
    left:0;right:0;
    bottom:0;
    width: 100%;
    height: fit-content;
    padding: 4px 0;
    background-color: rgb(0,160,0);
    text-align: center;
}
.spotifyPrompt .select_playlist:hover {
    background-color: rgb(0,120,0);
    cursor: pointer;
}

.management_buttons {
    display: block;
    margin: auto;
    position: absolute;
    left:0;right:0;
    bottom: 10px;
    width: fit-content;
}
.management_buttons .button {
    display: inline-block;
    margin: auto;
    padding: 4px 12px;
    background-color: rgb(0,160,0);
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.management_buttons .button:hover {
    background-color: rgb(0,120,0);
    cursor: pointer;
}

.quiz .messages {
    display: block;
    margin: auto;
    width: fit-content;
    background-color: rgba(0,0,0,0.2);
    padding: 2px 12px;
    border-radius: 5px;
    margin-top: 10px;
}

.quiz .progress_bar {
    display: none;
    margin: auto;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    background-color: black;
    overflow: hidden;
}
.quiz .progress_bar .bar {
    display: block;
    margin: auto;
    float: left;
    width: 100%;
    height: 100%;
    background-color: cyan;
    /* border-radius: 15px; */
}

.quiz .question_num {
    display: none;
    margin: auto;
    position: absolute;
    top:10px;left:10px;
    width: fit-content;
    padding: 6px 24px;
    background-color: rgba(128,0,128, 0.3);
    border-left: 4px solid rgb(128,0,128);
    /* background-color: rgba(0,128,128, 0.3);
    border-left: 4px solid rgb(0,128,128); */
}

.quiz .questions {
    display: block;
    margin: auto;
    width: fit-content;
    min-width: 50%;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}
.quiz .questions a.question {
    display: inline-block;
    margin: auto;
    width: fit-content;
    padding: 6px 16px;
    min-width: 250px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(0,200,0, 0.25);
    border: 2px solid rgb(0,200,0);
    border-radius: 15px;
    cursor: pointer;
}
.quiz .questions a.question:hover {
    background-color: rgba(0,200,0, 0.1);
    border: 2px solid rgb(0,200,0);
}
.quiz .questions a.question .song_artist {
    color: grey;
    font-size: 14px;
}